.section-new {
  background-image: url("/static/assets/img/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  margin: 0 auto;
  @include middle {
    min-height: 1700px;
  }
  @include tablet {
    min-height: 1200px;
    background-size: 0;
  }
  @include mobile {
    min-height: auto;
  }
  .hh-new-container {
    .hh-new-list {
      margin: 50px;
      height: 100vh;
      overflow-y: scroll;
      @include overload {
        height: 1045px;
      }
      @include middle {
        height: 600px;
      }
      @include tablet {
        margin: 30px;
        height: 610px;
      }
      @include mobile {
        margin: 20px;
        height: 365px;
      }
    }
    .hh-new-list::-webkit-scrollbar-track {
      background-size: cover;
    }

    .hh-new-list::-webkit-scrollbar {
      width: 30px;
      background-image: url("/static/assets/img/scroll-news.png");
      background-size: cover;
      background-position: center;
      @include middle {
        background-size: contain;
        background-repeat: no-repeat;
      }
      @include mobile {
        width: 15px;
        background-size: cover;
      }
    }

    .hh-new-list::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: url("/static/assets/img/scroll-icon-news.png");
      background-size: 30px 100vh;
      background-repeat: no-repeat;
      @include middle {
        background-size: 30px 100%;
      }
      @include tablet {
        background-size: 30px 100%;
      }
      @include mobile {
        background-size: 15px 100%;
      }
    }
    // SAFARI SCROLL BAR
    .hh-new-list::-webkit-scrollbar-button {
      border-radius: 10px;
      background-image: url("/static/assets/img/scroll-icon-news.png");
      background-size: 30px 100vh;
      background-repeat: no-repeat;
      @include middle {
        background-size: 30px 100%;
      }
      @include tablet {
        background-size: 30px 100%;
      }
      @include mobile {
        background-size: 15px 100%;
      }
    }
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
    background-size: 1000px;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("/static/assets/img/news/frames.png");
    @include middle {
      width: 850px;
      background-size: 850px 100%;
    }
    @include tablet {
      width: 650px;
      background-size: 650px 100%;
    }
    @include mobile {
      width: 300px;
      background-size: 300px 100%;
    }
  }
  .hh-new__item {
    width: 800px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/static/assets/img/news/item.png");
    @include middle {
      padding-left: 8px;
      width: 500px;
      height: 100px;
      background-size: 500px 100px;
    }
    @include tablet {
      padding-left: 8px;
      width: 500px;
      background-size: cover;
      height: 100px;
    }
    @include mobile {
      padding-left: 8px;
      width: 240px;
      background-size: contain;
      height: 60px;
    }
    .hh-new__item_thumbnail {
      img {
        width: 200px;
        @include middle {
          width: 125px;
        }
        @include tablet {
          width: 125px;
        }
        @include mobile {
          width: 55px;
        }
      }
    }
  }
  .hh-new__item_title {
    h4,
    p {
      color: black;
      padding: 0;
      margin: 0;
    }
    h4 {
      font-size: 50px;
      @include middle {
        font-size: 30px;
      }
      @include tablet {
        font-size: 30px;
      }
      @include mobile {
        font-size: 15px;
      }
    }
    p {
      font-size: 45px;
      @include middle {
        font-size: 25px;
      }
      @include tablet {
        font-size: 25px;
      }
      @include mobile {
        font-size: 12px;
      }
    }
  }
}
